spring:
  config:
    import: config.properties
  application:
    name: customers
  main:
    web-application-type: reactive
    allow-bean-definition-overriding: true
  r2dbc:
    url: r2dbc:postgresql://localhost:${DB_PORT:5432}/microservice
    username: ${DB_USER:ifzz}
    password: ${DB_PASS:ifzz}
  jpa:
    hibernate:
      ddl-auto: update
  devtools:
    restart:
      enabled: true

server:
  port: ${PORT:8060}
eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost
  client:
    allow-redirects: true
    service-url:
      defaultZone: http://localhost:8010/eureka/
    fetch-registry: true
    register-with-eureka: true
management:
  cloudfoundry:
    enabled: true
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include: "*"
