spring:
  application:
    name: users
  main:
    web-application-type: reactive
    allow-bean-definition-overriding: true
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/microservice
    username: ifzz
    password: ifzz
  jpa:
    hibernate:
      ddl-auto: update
  devtools:
    restart:
      enabled: true

server:
  port: ${PORT:8040}

eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    allow-redirects: true
    service-url:
      defaultZone: http://localhost:8010/eureka/
    fetch-registry: true
    register-with-eureka: true

management:
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include: "*"

logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.ipc.netty: DEBUG
    reactor.netty: DEBUG

gateway:
  ip: 192.168.2.81

springbootwebfluxjjwt:
  password:
    encoder:
      secret: mysecret
      iteration: 33
      keylength: 256

token:
  expiration_time: 864000000
  secret: v4iPLN5On9ySdcfqPs89qKUQzW1Loi6LVxyOd+kMsxgb333OsZ0S3ttTt++3iYJZPDKkl3ISLH7xapkNeevKVR6ugtAEYVWdzRcCyoaPKvx3NaPWdusr2jF19xG9Zd8IRQsuAEA0m3rxVYmpJ19Irbod2pRYGxPrJ/F4sPNb8lIsdpbRCO6rFjNVLxgINzCYUTx5h44TMHmcHVOA9wkruOQ2DtNQHZEeouXaUQ==%