server:
  port: 8010
spring:
  application:
    name: microservice-server
  rabbitmq:
    host: localhost
    username: guest
    password: guest
    port: 5672
eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost
  client:
    fetch-registry: false
    register-with-eureka: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/