server:
  port: 8180

spring:
  application:
    name: gateway
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
    gateway:
      httpclient:
        ssl:
          handshake-timeout: 10000
          close-notify-flush-timeout: 3000
          close-notify-read-timeout: 0
        connect-timeout: 1000
        response-timeout: 5s
      x-forwarded:
        enabled: true
        for-enabled: true
        port-append: true
        port-enabled: true
        host-append: true
        host-enabled: true
      loadbalancer:
        use404: true
      metrics:
        enabled: true
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: users
          uri: lb://users
          predicates:
            - Path=/users/**
          metadata:
            response-timeout: 200
            connect-timeout: 200
        - id: posts
          uri: lb://posts
          predicates:
            - Path=/posts/**

eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8010/eureka/

management:
  cloudfoundry:
    enabled: true
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true

logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.ipc.netty: DEBUG
    reactor.netty: DEBUG