spring:
  application:
    name: configserver
  cloud:
    config:
      server:
        git:
          timeout: 4
          # TODO never hardcode your credentials!!!
          # Sample config in EmilConfig github
          uri: ${URI}
          username: ${USER}
          password: ${PASS}
          searchPaths: '{application}'
          skipSslValidation: true
          force-pull: true
          ignore-local-ssh-settings: true
          # Github uses main as default
          default-label: 'main'


server:
  port: ${PORT:8888}

management:
  endpoint:
    health:
      show-details: always
      show-components: always
  endpoints:
    enabled-by-default: true
    web:
      cors:
        allowed-methods: OPTIONS, GET, POST
      exposure:
        include: ["bus-refresh", "health"]
      base-path: "/management"
